# Dependencies
node_modules/

# Environment variables
.env
.env.local

# TypeScript compiled output
dist/

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
/generated/prisma
